/* npx @tailwindcss/cli -i ./src/style/input.css -o ./src/style/output.css --watch */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .bg-custom-gradient1 {
        background: linear-gradient(180deg,
                #5be5d5,
                #905be5 50%,
                #e55b6b 100%,
                #b0e55b 150%);
    }
}

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@theme {
    --font-poppins: 'poppins', sans-serif;
}